.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/.eslintrc.json
**/.vscode-test.*
testing_ignore/**
# IMPORTANT 
src/**
healthmonitor/**
# node_modules/**
extension.js
alerts.json
